:root{
    --doc-bg: #F5F5F5;
    --primary: #6c63FF;
    --primary-light: #8680FF;
    --secondary: #00BFA6;
    --black: #000000;
    --white: #FFFFFF;
    --google: #FF3E30;
    --facebook: #4267B2;
    --twitter: #1DA1F2;
    --linkedin: #0077B5;
}